.backgroundCardChangeFgPw {
    background-color: white;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerAlFgPw > input {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    padding: 7px;

    font-family: "Poppins";
    font-size: 12px;

    border: 1px solid #dfe1e6;
    background-color: #fafbfc;
    outline-color: #4f81ee;
}
