.backgroundCardFgPw {
    background-color: white;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerFgPw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleFgPw {
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#typeEmailTxt {
    width: 250px;
    font-size: 13px;
    margin-bottom: 3px;
}

#inputEmailFgPw {
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    padding: 7px;

    font-family: "Poppins";
    font-size: 12px;

    border: 1px solid #dfe1e6;
    background-color: #fafbfc;
    outline-color: #4f81ee;
}

#btnVerifyFgPw {
    width: 250px;
    height: 35px;
    border: 0px;
    background-color: #5aac44;

    color: white;
    font-weight: bold;
    outline-color: black;

    margin-bottom: 15px;
}
