.container {
  transition: all 0.3s;
  &.transform {
    transform: translateY(350px);
  }
}

.header {
  transition: all 0.3s;
  &.changeBackground {
    background: #ffc929;
  };
}

.arrow {
  &.rotate {
    transition: all 0.3s;
    transform: rotate(90deg);
  }
}
