.react-calendar {
  border-radius: 4px;
  width: 350px;
  max-width: 100%;
  background: white;
  font: inherit;
  line-height: 1.125em;
  border: none;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
